.profile {
    max-width: 880px;
    max-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 900px) {
    .profile {
        flex-direction: column;
        margin: auto;
        margin-top: 38px;
        max-height: 286px;
    }
}