.profile__add-button {
    background: url(../../../images/add_button.svg) no-repeat center;
    width: 150px;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-image: initial;
    border-radius: 2px;
    margin-left: 244px;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .profile__add-button {
        margin: auto;
        margin-top: 30px;
        width: 100%;
        padding: 0;
        min-height: 50px;
    }
}