.elements__list-caption {
    color: #000;
    max-width: 248px;
    max-height: 30px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 32px;
    margin-left: 21px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}