.footer {
    max-width: 318px;
    max-height: 18px;
    color: #545454;
    margin-top: 66px;
    margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
    .footer {
        margin-top: 48px;
    }
}